PORT=8004
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/order_db
KAFKA_BROKERS=localhost:9092
PRODUCT_SERVICE_URL=http://localhost:8003
PAYMENT_SERVICE_URL=http://localhost:8005
