@import '../../../styles/variables';

.countdown-button {
  height: $button-height;
  border-radius: $border-radius;
  transition: all 0.2s ease;

  &:not(:disabled):hover {
    border-color: $primary-hover;
    color: $primary-hover;
  }

  &:not(:disabled):active {
    border-color: $primary-active;
    color: $primary-active;
  }
}